/* Basic styles for the logo and navigation */
body{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8FC9BB;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.restaurant-name {
    font-size: 2rem; /* Increased font size */
    color: #FBD5AB; /* Stylish color */
    font-family: 'Georgia', serif; /* Stylish font */
    letter-spacing: 2px; /* Increased letter spacing */
    text-transform: uppercase; /* Uppercase text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow effect */
    text-fill-color: #ff6600; /* Fill the text with the main color */


}

.restaurant-tagline {
    font-size: 1rem;
    color: #ccc;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6600;
}

/* Add animation to the hero section */
.hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
    color: #fff;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Style the "Make a Reservation" button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
}

/* Add some padding and style to sections */
section {
    padding: 100px 0;
    text-align: center;
    background-image: url('images/photo3.jpg');
    background-size: cover;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

/* Add styles to the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.menu {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.menu h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
}

.item-name {
    font-weight: bold;
}
ul {
  list-style-type: none;
}